<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.codemake.workout" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >

        <!-- android:theme="@style/AppTheme" -->
        <!-- android:theme="@android:style/Theme.Holo.Light.DarkActionBar" -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".WorkoutActivity"
            android:label="@string/title_activity_workout" >
        </activity>
        <activity
            android:name=".WorkoutMenuActivity"
            android:label="@string/title_activity_workout_menu" />
        <activity
            android:name=".WorkoutInputActivity"
            android:label="@string/title_activity_workout_input" >
        </activity>
        <activity
            android:name=".WorkoutHistoryActivity"
            android:label="@string/title_activity_workout_history" >
        </activity>
        <activity
            android:name=".CustomWorkoutActivity"
            android:label="@string/title_activity_custom_workout" >
        </activity>
        <activity
            android:name=".CustomWorkoutGroupActivity"
            android:label="@string/title_activity_custom_workout_group" >
        </activity>
        <activity
            android:name=".RecommendedWorkoutActivity"
            android:label="@string/title_activity_recommended_workout" >
        </activity>
        <activity
            android:name=".RecommendedWorkoutDetailsActivity"
            android:label="@string/title_activity_recommended_workout_details" >
        </activity>
        <activity
            android:name=".NutritionCalculatorActivity"
            android:label="@string/title_activity_nutrition_calculator" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NutritionDayActivity"
            android:label="@string/title_activity_nutrition_day" >
        </activity>
        <activity
            android:name=".CreateWorkoutActivity"
            android:label="@string/title_activity_workout_pattern" >
        </activity>
        <activity
            android:name=".ChooseExerciseActivity"
            android:label="@string/title_activity_choose_exercises" >
        </activity>
    </application>

</manifest>
