<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.codemake.workout" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- android:theme="@style/AppTheme" -->
        <!-- android:theme="@android:style/Theme.Holo.Light.DarkActionBar" -->
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".workout.WorkoutActivity"
            android:label="@string/title_activity_workout"
            android:parentActivityName=".MainActivity" >

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".workout.WorkoutMenuActivity"
            android:label="@string/title_activity_workout_menu"
            android:parentActivityName=".workout.WorkoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workout.WorkoutActivity" />
        </activity>
        <!--
            <activity
            android:name=".workout.WorkoutInputFragment"
            android:label="@string/title_activity_workout_input"
            android:parentActivityName=".workout.WorkoutMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workout.WorkoutMenuActivity" />
        </activity>
        -->
        <activity
            android:name=".workout.WorkoutHistoryActivity"
            android:label="@string/title_activity_workout_history"
            android:parentActivityName=".workout.WorkoutMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workout.WorkoutMenuActivity" />
        </activity>
        <activity
            android:name=".workout.CustomWorkoutActivity"
            android:label="@string/title_activity_custom_workout"
            android:parentActivityName=".workout.WorkoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workout.WorkoutActivity" />
        </activity>
        <activity
            android:name=".workout.CustomWorkoutGroupActivity"
            android:label="@string/title_activity_custom_workout_group"
            android:parentActivityName=".workout.CustomWorkoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workout.CustomWorkoutActivity" />
        </activity>
        <activity
            android:name=".workout.RecommendedWorkoutActivity"
            android:label="@string/title_activity_recommended_workout"
            android:parentActivityName=".workout.WorkoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workout.WorkoutActivity" />
        </activity>
        <activity
            android:name=".workout.RecommendedWorkoutDetailsActivity"
            android:label="@string/title_activity_recommended_workout_details"
            android:parentActivityName=".workout.RecommendedWorkoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workout.RecommendedWorkoutActivity" />
        </activity>
        <activity
            android:name=".workout.CreateRoutineActivity"
            android:label="@string/title_activity_create_routine"
            android:parentActivityName=".workout.WorkoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workout.WorkoutActivity" />
        </activity>
        <activity
            android:name=".workout.ChooseExerciseActivity"
            android:label="@string/title_activity_choose_exercises"
            android:parentActivityName=".workout.CreateRoutineActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workout.CreateRoutineActivity" />
        </activity>
        <!--
            <activity
            android:name=".nutrition.NutritionCalculatorFragment"
            android:label="@string/title_activity_nutrition_calculator"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        -->
        <!--
            <activity
            android:name=".nutrition.AddNutritionEntryActivity"
            android:label="@string/title_activity_nutrition_day"
            android:parentActivityName=".nutrition.NutritionCalculatorFragment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".nutrition.NutritionCalculatorFragment" />
        </activity>
        <activity
            android:name=".nutrition.AddFoodActivity"
            android:label="@string/add_food"
            android:parentActivityName=".nutrition.AddNutritionEntryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".nutrition.AddNutritionEntryActivity" />
        </activity>
        <activity
            android:name=".nutrition.AddMealActivity"
            android:label="@string/title_activity_add_meal"
            android:parentActivityName=".nutrition.NutritionCalculatorFragment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".nutrition.NutritionCalculatorFragment" />
        </activity>
        <activity
            android:name=".workout.WorkoutRecordActivity"
            android:label="Record Workout"
            android:parentActivityName=".workout.WorkoutInputFragment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".workout.WorkoutInputFragment" />
        </activity>
        -->
        <activity
            android:name=".nutrition.AddNutritionEntryActivity"
            android:label="@string/title_activity_nutrition_day"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".nutrition.AddFoodActivity"
            android:label="@string/add_food"
            android:parentActivityName=".nutrition.AddNutritionEntryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".nutrition.AddNutritionEntryActivity" />
        </activity>
        <activity
            android:name=".nutrition.AddMealActivity"
            android:label="@string/title_activity_add_meal"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".workout.WorkoutRecordActivity"
            android:label="Record Workout"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Sample"
            android:label="@string/title_activity_sample"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
